name: Check answer
on:
  #schedule:
  #  - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  check_answer:
    name: Check answer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: python -m pip install --upgrade pip
      - run: pip install requests
      - run: pip install PyMySql
      - run: python ./main.py
